<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>ServiciosTI</title>
  <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <div class="container">
        <div class="Header">
            <nav class="nav-header">
                <button onclick="location.href='#login'">Cerrar Sesion</button>
                <button onclick="location.href='#contacto'">Mantenimiento Usuarios</button>
                <button onclick="location.href='#info'">Informes de TI</button>
              </nav>
        </div>

        <div class="Footer">
            <p>
              Sistema desarrollado por <strong>Michel Vargas Lira</strong> como proyecto de programación para la 
              <strong>Universidad Internacional San Isidro Labrador</strong>, para la empresa <strong>Coopesana</strong>.
            </p>
          </div>

        <div class="Trabajou">
            <p>Solicitudes</p>
            <button onclick="location.href='#NuevaTarea'">Nueva Tarea</button>
            <div class="lista-tareas">
    
            </div>
        </div>

        
        <div class="Noticias">
            <div class="noticia">
              <img src="/img/Coopesana.jpg" alt="Imagen noticia" class="noticia-img">
              <div class="noticia-texto">
                <h3>Título de la Noticia</h3>
                <p>Resumen breve de la noticia o descripción. Aquí irá el contenido que deseas mostrar al usuario.</p>
              </div>
            </div>
            <div class="noticia">
                <img src="/img/Coopesana.jpg" alt="Imagen noticia" class="noticia-img">
                <div class="noticia-texto">
                  <h3>Título de la Noticia</h3>
                  <p>Resumen breve de la noticia o descripción. Aquí irá el contenido que deseas mostrar al usuario.</p>
                </div>
            </div>
            <div class="noticia">
                <img src="/img/Coopesana.jpg" alt="Imagen noticia" class="noticia-img">
                <div class="noticia-texto">
                  <h3>Título de la Noticia</h3>
                  <p>Resumen breve de la noticia o descripción. Aquí irá el contenido que deseas mostrar al usuario.</p>
                </div>
            </div>
            <p class="nota-informativa">
                Si desea publicar información, favor solicitarlo al departamento de TI en la sección <strong>Contáctanos</strong> o por el chat local <strong>Pandion</strong>.
              </p>
        </div>
          
      </div>
</body>
</html>